<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="dev.ronin.demo.beerstore" level="INFO"/>
    <logger name="com.tngtech.archunit" level="INFO" />
    <logger name="com.tngtech.archunit.core.importer.JavaClassProcessor" level="WARN" />
<!--    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />-->
</configuration>