<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="dev.ronin.demo.beerstore" level="DEBUG"/>
    <logger name="org.springframework.web" level="DEBUG"/>
    <logger name="org.springframework.cloud" level="DEBUG"/>
    <logger name="com.github.tomakehurst.wiremock" level="DEBUG"/>
    <logger name="org.apache.http.wire" level="DEBUG"/>

</configuration>