<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
<!--    	<logger name="dev.ronin.demo.beerstore" level="DEBUG"/>-->
<!--        <logger name="com.tngtech.archunit" level="INFO" />-->
<!--        <logger name="org.springframework" level="OFF"/>-->
<!--        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />-->
<!--        <logger name="org.hibernate" level="INFO" />-->
<!--        <logger name="com.zaxxer" level="OFF" />-->
</configuration>